<!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="images/profile.png" alt="Romain Schlick" />
            <div class="profile-content pull-left">
                <h1 class="name">Romain Schlick</h1>
                <h2 class="desc">Technical leader & Agile enthusiast</h2>   
                <ul class="social list-inline">
                    <li><a href="http://twitter.com/r_schlick" target="_blank"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="http://stackoverflow.com/users/4524482/romain-schlick" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="http://www.linkedin.com/pub/romain-schlick/14/a76/b5b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://github.com/rschlick" target="_blank"><i class="fa fa-github-alt"></i></a></li>     
                    <li><a href="http://blog.romainschlick.com" target="_blank"><i class="fa fa-wordpress"></i></a></li>     
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:romain.schlick@gmail.com"><i class="fa fa-paper-plane"></i> Contactez-moi</a> 
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">À propos de moi</h2>
                        <div class="content">
                            <p>Je suis avant tout un <strong>développeur passionné</strong> et un <strong>agiliste convaincu</strong>.</p> 
                            <p>J'ai travaillé dans des contextes variés (finance, banque, industrie, digital, e-commerce, santé) à forte technicité et le plus souvent agiles.</p>
                            <p>J'ai développé une solide maîtrise des principaux frameworks et outils <strong>Java EE</strong> et <strong>Spring</strong> (Maven, Hibernate, JMS, WS, REST, etc.), ainsi que les pratiques orientées qualité (XP, TDD, BDD, etc.).                         
                                J'ai aussi participé à des projets <strong>NoSQL/BigData</strong> utilisant Google App Engine/Big Table et <strong>MongoDB.</strong></p>
                            <p> Je manipule aussi les nouveaux frameworks JS, comme <strong>AngularJS</strong>, Node.js avec les outils npm, Grunt, gulp et bower.</p>
                            <p>Mon affinité pour <strong>les méthodes agiles </strong> (Scrum, Kanban) m'a poussé a participé et a contribué à la mise en place de projets agiles, me conférant aussi une bonne expérience dans ces nouvelles approches de développement.</p>
                            <p>J'ai occupé différents rôles aux cours de mes expériences: senior developer, <strong>technical leader</strong> ou encore <strong>Scrum Master</strong>.</p>
                            <p>
                            Par ailleurs, j'ai suivi des formations significatives orienté agile et technique: </p>
                            <ul>
                                <li><strong>Scrum Master avancé</strong> par Véronique Message Rota</li>
                                <li><strong>Kanban</strong> par Xebia</li>
                                <li><strong>Java EE 6</strong> par Antonio Goncalvès</li>
                                <li><strong>MongoDB</strong> (formation en ligne mongo university)</li>
                            </ul>
                            
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Derniers projets</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://myprevention.fr" target="_blank">MyPrevention - Technical leader & Scrum Master</a></h3>
                                <p class="summary">J'ai été Technical leader & Scrum Master d'une équipe de 4 développeurs back et front. J'ai développé le coeur produit de Santech sur une base de Java/Spring et le projet front MyPrevention en AngularJS.
                                Je suis responsable de ses développements, de l'architecture technique, mais aussi du processus de développement Scrum/Kanban, ainsi que la partie DevOps (intégration et déploiements continus avec Jenkins).</p>
                                <div class="featured-image">
                                    <a href="http://myprevention.fr" target="_blank">
                                    <img class="img-responsive project-image" src="images/projects/myprevention.jpg" alt="MyPrevention - Technical leader & Scrum Master" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">Nouveau</div>
                                        </div>
                                    </div>
                                    
                                <div class="desc text-left">                                    
                                    <p><strong>Stack technique:</strong></p>
                                    <ul>
                                        <li><strong>Back:</strong> Tomcat, MySQL, MongoDB, Java7 JEE, Spring 4 (MVC, Security, Boot, Batch), Hibernate, Mockito, Maven.</li>
                                        <li><strong>Front:</strong> HTML5, SASS, AngularJS, JQuery, bower, Grunt, Jasmine, selenium</li>
                                        <li><strong>Autres:</strong> Jenkins, GIT, Jira Agile plugin</li>
                                    </ul>
                                </div><!--//desc-->         
                            </div><!--//item-->
                            <hr class="divider" />
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive project-image" src="images/projects/gl.png" alt="Galeries Lafayette - Java JEE Technical Leader" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a>Galeries Lafayette - Java JEE Technical Leader</a></h3>
                                    <p>Au sein de la DSI E-Commerce, dans le cadre des projets du site e-commerce et omnicanaux, j'ai été technical leader d'une équipe de 5 développeurs. Je m'occupais à la fois de la conception, du développement et des bonnes pratiques de qualité.</p>
                                    <p><strong>Stack technique:</strong></p>
                                    <ul>
                                        <li><strong>Back:</strong> Tomcat, Oracle, Hybris, MongoDB, Java7 JEE, REST, CXF, Spring 4 (MVC, Security, Boot, Batch), Ant, Maven.</li>
                                        <li><strong>Front:</strong> HTML5, SASS, Foundation, JQuery, bower.</li>
                                        <li><strong>Autres:</strong> Jenkins, GIT, Jira</li>
                                    </ul>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive project-image" src="images/projects/photobox.png" alt="Photobox - Consultant Java JEE senior" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a>Photobox - Consultant Java JEE senior</a></h3>
                                    <p>Dans le cadre de la refonte du système d'information de production, j'ai participé à la conception et aux développements de l'ensemble de ses modules au sein d'une équipe d'une dizaine de personnes. </p>
                                    <p>Afin de répondre aux forts pics de charges saisonniers, une partie du système à été conçu pour être clusteriser dans "le cloud" (Amazon EC2).</p>
                                    <p><strong>Stack technique:</strong></p>
                                    <ul>
                                        <li><strong>Back:</strong> Spring 3, JPA 2, Spring Integration, WS, Rest, JMS ActiveMQ, IText, Mockito </li>
                                        <li><strong>Front:</strong>JSF, Richfaces, Ajax, JQuery, bootstrap</li>
                                        <li><strong>Autres:</strong> Jenkins, SVN, Jira</li>
                                    </ul>
                                </div><!--//desc-->                          
                            </div><!--//item-->                            
                          
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Publications</h2>
                        <div class="content">
                            <div class="item" ng-repeat="publication in publications">
                                <h3 class="title">{{publication.title}}</h3>
                                <p class="summary">{{publication.summary}}</p>
                                <p><a class="more-link" target="_blank" href="{{publication.link}}"><i class="fa fa-external-link"></i> Lire plus</a></p>
                            </div><!--//item-->
                            <a class="btn btn-cta-secondary" target="_blank" href="http://blog.romainschlick.com">En voir plus sur mon blog <i class="fa fa-chevron-right"></i></a>
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Parcours professionnel</h2>
                        <div class="content" ng-repeat="experience in experiences">
                            <div class="item">
                                <h3 class="title">{{experience.title}} - <span class="place"><a href="#">{{experience.place}}</a></span> <span class="year">({{experience.years}})</span></h3>
                                <p>{{experience.description}}</p>
                            </div><!--//item-->                                                      
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
               
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Informations</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Lieu:</span>Paris, France</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">E-mail:</span><a href="mailto:romain.schlick@gmail.com">romain.schlick@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Blog:</span><a href="http://blog.romainschlick.com" target="_blank">blog.romainschlick.com</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Compétences</h2>
                        <div class="content">
                            <p class="intro">
                                Voici une liste non exhaustive de mes principales compétences.<br>
                            <a class="more-link" href="http://www.linkedin.com/pub/romain-schlick/14/a76/b5b" target="_blank"><i class="fa fa-external-link"></i> En voir plus sur LinkedIn</a></p>
                            <div class="skillset" ng-repeat="skill in skills">
                               
                                <div class="item">
                                    <h3 class="level-title">{{skill.title}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.more}}">{{skill.label}}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{skill.level}}">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Recommandations</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>Romain possède une expertise sans faille des technologies web en environnement agile. 
                                    Chaque sujet technique est pour lui une curiosité dont il aime relever le challenge tel les différentes ceintures qu'il a obtenues dans son art martial de prédilection. 
                                    Son sens inné du contact et son expérience en agilité (Scrum & Kanban) lui ont permis d'appliquer la science du management participatif. </p>
                                </blockquote>                
                                <p class="source"><span class="name">Jean-Baptiste Marcovici</span><br /><span class="title">Responsable R&D</span></p>                                                             
                            </div><!--//item-->
                             <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>Romain a un profil très intéressant de par ses connaissances à la fois techniques et à la fois méthodologiques. Il maîtrise aussi bien le langage java, ainsi que les framework les plus connus (Spring, Hibernate et d'autres) que les méthodologies agiles (SCRUM, KANBAN, LEAN). 
                                Au delà de cela, Romain est un vrai craftman. Il apprécie le travail bien fait et apprécie partager ses connaissances et les bonnes pratiques qu'il a pu acquérir avec son expérience.  </p>
                                </blockquote>                
                                <p class="source"><span class="name">Marc Joly</span><br /><span class="title">Scrum Master</span></p>                                                             
                            </div><!--//item-->
                             <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>Romain a apporté son expertise pointue sur les technologies Java, et a permis à l'équipe de faire les meilleurs choix de technologies (architecture, frameworks, composants techniques...), d'améliorer la qualité du code grâce à ses connaissances agiles (SCRUM, extreme programming, TDD...) et en fin de compte par sa motivation et ses qualités humaines à faire progresser l'équipe dans son ensemble. En effet, plus qu'un expert technique, Romain est un leader charismatique, un véritable coach, qui sait guider les autres, faire les meilleurs choix.   </p>
                                </blockquote>                
                                <p class="source"><span class="name">Benjamin Lefevre</span><br /><span class="title">Software engineer, Software Architect</span></p>                                                             
                            </div><!--//item-->
                            
                            
                            <p><a class="more-link" href="http://www.linkedin.com/pub/romain-schlick/14/a76/b5b" target="_blank"><i class="fa fa-external-link"></i> En voir plus sur Linkedin</a></p> 
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Formations</h2>
                        <div class="content" ng-repeat="university in universities">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> {{university.diplome}}</h3>
                                <h4 class="university">{{university.university}} <span class="year">({{university.years}})</span></h4>
                            </div><!--//item-->                          
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Langues</h2>
                        <div class="content">
                            <ul class="list-unstyled" ng-repeat="language in languages">
                                <li class="item">
                                    <span class="title"><strong>{{language.language}}:</strong></span>
                                    <span class="level">{{language.level}} <br class="visible-xs"/><span  ng-repeat="a in getNumber(language.stars) track by $index"><i class="fa fa-star"></i></span>  </span>
                                </li><!--//item-->
                               
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    